/**************************** 
CSS INDEX

Base CSS
****************************/


/**************************** 
Base CSS
****************************/
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}

a:hover,
a:link,
a:visited,
a:active {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
html, body{
    overflow-x: hidden;
}
body {
    color: #202020;
    line-height: 1.714;
    font-family: 'Roboto', sans-serif;
}

.section-padding {
    padding: 50px 0;
}
.no-padding {
    padding: 0;
}
.row-padding{
    padding-left: 15px;
    padding-right: 15px;
}

/**************************** 
HEADER AREA CSS
****************************/
.header-area {
    background: #224088;
}

.logo a {
    display: inline-block;
    padding: 25px 0px;
    transition: .3s;
}

.logo img {
    max-width: 160px;
    max-height: 35px;
}

.main-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-menu ul li {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.main-menu ul li a {
    color: #fff;
    font-size: 15px;
    padding: 30px 32px;
    display: inline-block;
    font-weight: 400;
    transition: .3s;
}

.free-consultation {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #fff;
    padding: 10px 23px;
    line-height: 20px;
    margin: 22px 0;
    transition: .3s;
}

.main-menu ul li a:hover {
    opacity: .7;
}

.free-consultation:hover {
    color: #224088;
    background: #fff;
    border: 1px solid #fff;
}

.logo a:hover {
    opacity: .8;
}


/* OFF CANVAS MENU */


.mobile-header-area {
    display: none;
}



.off-canvas-menu {
    background: #224188;
    position: fixed;
    width: 300px;
    z-index: 399;
    height: 100%;
    top: 0;
    left: -300px;
    transition: .3s;
}

.off-canvas-menu .top-area-logo {
    padding: 10px;
    padding-top: 22px;
}

.off-canvas-menu.active {
    left: 0;
}

.off-canvas-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-top: 50px;
}

.off-canvas-menu ul li a {
    color: #fff;
    display: block;
    padding: 12px;
    border-bottom: 1px dashed rgba(255, 255, 255, .4);
    text-decoration: none;
}

.menu-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 25px;
    cursor: pointer;
}

.off-canvas-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #000;
    z-index: -1;
    opacity: 0;
    transition: .3s;
}

.off-canvas-overlay.active {
    z-index: 98;
    opacity: .6;
}


/**************************** 
SERVICE AREA CSS
****************************/


.single-service-box {
    border-left: 2px solid #f0efef;
    border-bottom: 2px solid #f0efef;
    height: 200px;
    display: table-cell;
    vertical-align: middle;
    padding: 5%;
    color: #111 !important;
    transition: .3s;
}
.single-service-box:hover {
    color: #777 !important;
}

.service-area .col-md-4:nth-child(3n) {
    border-right: 2px solid #f0efef;
}

.service-area .col-md-4 {
    display: table;
}

.single-service-box img {
    display: inline-block;
    max-height: 85px;
}

.single-service-box p {
    display: inline-block;
    margin-bottom: 0;
    width: 68%;
    margin-left: 5%;
    font-size: 15px;
    vertical-align: middle;
    font-weight: 300;
    line-height: 20px;
}

/**************************** 
ABOUT AREA CSS
****************************/


.about-area h3 {
    color: #224188;
    font-size: 21px;
    font-weight: 400;
    line-height: 28px;
}


.about-details {
    color: #202020;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 30px;
}

.about-feature-points {
    margin-top: 55px;
    padding-left: 8%;
}

.single-feature-points {
    font-size: 21px;
    font-weight: 300;
    color: #202020;
    position: relative;
    padding-left: 55px;
    margin-bottom: 60px;
}

.single-feature-points img {
    max-height: 30px;
    position: absolute;
    left: 0;
    top: 5px;
}


/**************************** 
CLIENT LOGO AREA CSS
****************************/

.thin-icon {
	background-size: 20%;
	background-position: center;
	display: block;
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
}
.thin-left-icon {
    background-image: url('../img/icon-angle-left.png')
}
.thin-right-icon {
    background-image: url('../img/icon-angle-right.png')
}
.client-logo-area h3 {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 400;
    background: #224188;
    display: inline-block;
    color: #fff;
    padding: 18px 40px;
    margin-bottom: 55px;
}


.single-logo-item {
    display: table;
    width: 100%;
}

.logo-item-inner {
    display: table-cell;
    vertical-align: middle;
    height: 90px;
    width: 100%;
    text-align: center;
}

.logo-item-inner img {
    max-width: 100px;
    transition: .3s;
    opacity: 0.5;
    cursor: pointer;
}

.logo-carousel .owl-nav div {
    position: absolute;
    width: 50px;
    height: 50px;
    left: -100px;
    top: 22px;
}

.logo-carousel .owl-nav div.owl-next {
    left: auto;
    right: -100px;
}

.logo-item-inner img:hover, .single-logo-item.active .logo-item-inner img {
    opacity: 1;
}
.owl-carousel .owl-item img {
    display: inline-block;
}

/**************************** 
CLIENT DETAILS AREA CSS
****************************/

.client-logo-wrapper {
    display: table;
    width: 100%;
}

.client-logo-inner {
    display: table-cell;
    vertical-align: middle;
    height: 300px;
}

.client-logo-inner img {
    max-height: 290px;
    min-height: 265px;
}

.client-details {
    font-size: 16px;
    margin-left: -15px;
    font-weight: 300;
    line-height: 25px;
    color: #4b4a4b;
}


/**************************** 
FAQs AREA CSS
****************************/

.faq-tab ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.faq-tab ul li {
    display: block;
    position: relative;
}

.faq-tab ul li a {
    color: #2f2f2f;
    padding: 14px;
    display: block;
    cursor: pointer;
    transition: .3s;
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
}

.faq-tab ul li a[aria-expanded=true] {
    background: #224188;
    color: #fff;
}
.faq-tab.faq-page-tab ul li a[aria-expanded=true] {
    background: #fff;
    border: 1px solid #224188;
    color: #2f2f2f;
}

.tab-details {
    border: 1px solid #224188;
    padding: 15px 25px;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
}
.tab-details.faq-page-tab-details {
    border: none;
    padding-top: 0;
}
.mobile-styled-faq {
	display: none;
}



/**************************** 
CONTACT AREA CSS
****************************/

.contact-area input,
.contact-area textarea {
    display: block;
    width: 100%;
    border: 2px solid #f0efef;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 17px;
    font-weight: 300;
    color: #2c2c2c;
    text-transform: uppercase;
}

.contact-area input {
    margin-bottom: 20px;
}

.contact-area textarea {
    height: 200px;
}

.contact-area input[type=submit] {
    width: auto;
    margin: 0 auto;
    background: #224188;
    color: #fff;
    border-radius: 0;
    padding: 10px 25px;
    margin-top: 30px;
    transition: .3s;
}
.contact-area input[type=submit]:hover {
    color: #fff;
    background: #193679;
}
.contact-area textarea:focus,
.contact-area input:focus {
    outline: none;
}
.contact-area {
	margin-bottom: 50px;
}

/**************************** 
FOOTER AREA CSS
****************************/
.footer-area {
    background: #224188;
    padding-bottom: 35px;
}

.logo.logo-footer a {
    padding-top: 0;
}

.footer-info {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
}

.social-icon a {
    display: inline-block;
    color: #224188;
    background: #fff;
    width: 50px;
    height: 50px;
    margin-left: 15px;
    text-align: center;
    font-size: 18px;
    line-height: 50px;
    margin-bottom: 15px;
    transition: .3s;
}

.social-icon a:nth-child(4n) {
    margin-right: 60px;
}

.social-icon a:hover {
    background: rgba(255, 255, 255, .5);
}


/**************************** 
ABOUT PAGE ABOUT AREA CSS
****************************/

.about-area h3.about-page-heading {
	font-size: 25px;
	margin-bottom: 40px;
}


/**************************** 
SERVICE PAGE AREA CSS
****************************/
.about-feature-points.single-service-feature-points {
    padding-left: 0;
    margin-top: 30px;
}

.about-feature-points.single-service-feature-points .single-feature-points {
    font-size: 16px;
    margin-bottom: 23px;
}

.about-feature-points.single-service-feature-points .single-feature-points img {
    max-height: 25px;
    top: 1px;
}
h3.about-page-heading.single-service-heading {
    margin-bottom: 25px;
    margin-top: 30px;
}
.about-details.single-service-details {
    margin-top: 20px;
}
.service-page-heading h3 {
	font-weight: 400;
	font-size: 25px;
	color: #282828;
}


.ask-question-btn {
    display: inline-block;
    color: #224188;
    border: 2px solid #224188;
    padding: 7px 50px 9px;
    margin-top: 20px;
    transition: .3s;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 50px;
}

.ask-question-btn:hover {
    background: #224188;
    color: #fff;
}

.single-service-row .col-md-12:last-child .ask-question-btn {
    margin-bottom: 0;
}

.service-area.service-page-service-list {
    margin-top: -50px;
}

.service-area.service-page-service-list .single-service-box {
	border-right: 2px solid #f0efef;
	display: block;
	height: auto;
	padding-top: 50px;
	padding-bottom: 50px;
}

.service-area.service-page-service-list .single-service-box p {
	width: 66%;
}

h3.about-page-heading.single-service-heading a {
	color: #224188;
}

.service-area.service-page-service-list.service-details-category {
    margin-top: 0;
    margin-bottom: 20px;
}

h3.about-page-heading.single-service-heading.service-details-heading {
    margin-top: 0;
}
.service-details-category-box {
    border-top: 2px solid #f0efef;
}
/**************************** 
CONTACT PAGE AREA CSS
****************************/

.top-text-1 {
    color: #3c3c3c;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 10px;
}

.top-text-2 {
    color: #3c3c3c;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 15px;
    font-weight: 400;
}

.phone-no-text {
    color: #282828;
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: -10px;
    transition: .3s;
}
.phone-no-text:hover {
    color: #666;
}

.time-text {
    color: #b6b6b6;
    font-size: 16px;
    font-weight: 300;
}

.email-heading {
    color: #3c3c3c;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
}
.contact-page-contact-area {
    margin-top: 20px;
}

.contact-page-contact-area select,
.contact-page-contact-area input,
.contact-page-contact-area textarea {
    display: inline-block;
    width: 100%;
    border: 2px solid #f0efef;
    border-radius: 4px;
    padding: 8px 15px;
    color: #3c3c3c;
    height: 45px;
    font-size: 15px;
    margin-bottom: 20px;
}

.contact-page-contact-area textarea {
    height: 140px;
}

.contact-page-contact-area input[type=submit] {
    background: #224188;
    color: #fff;
    transition: .3s;
}
.contact-page-contact-area input[type=submit]:hover {
    color: #fff;
    background: #193679;
}

.contact-page-info-padding {
    padding: 40px 50px 10px;
}
.googleMap3 {
	height: 684px;
	background-color: #193679;
	width: 120%;
	margin-left: -20%;
}



/*CONTACT FORM 7*/
.AP-form-email,.AP-form-phone {
    margin-top: -22px !important;
}